{% extends 'DFAdminBundle::layout.html.twig' %}

{% block titleContent %}Stade{% endblock %}

{% block breadcrumb %}
<li>> Liste des stades</li>
{% endblock %}

{% block body %}
<div class="bloc">
	<div class="title">
		<div class="title_txt">Liste des stades</div>
	</div>
	<div class="content">
		<div class="table_toolbar">
			<div class="btn_group">
				<a href="{{ path('DFStadeBundle_newStade') }}" class="edit_1_new btn" >Ajouter un stade</a>
			</div>
		</div>
		<table>
			<thead>
				<tr>
					<th>Nom</th>
					<th>Adresse</th>
					<th>Ville</th>
					<th>Code postal</th>
					<th>Capacité</th>
					<th>&nbsp;</th>	
				</tr>
			</thead>
			<tbody>
				{% for stade in stades %}
				<tr>
					<td>{{ stade.nom }}</td>
					<td>{{ stade.adresse }}</td>
					<td>{{ stade.ville }}</td>
					<td>{{ stade.codePostal }}</td>
					<td>{{ stade.capacite }}</td>
					<td>
						<a href="{{ path('DFStadeBundle_updateStadeAdmin', {'stade_id': stade.id }) }}" class="a_border bd_blue">Modifier</a>
						<a href="{{ path('DFStadeBundle_deleteStade', {'id_stade': stade.id }) }}" class="a_border bd_red">Supprimer</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %} 