{% extends 'DFAdminBundle::layout.html.twig' %}

{% block titleContent %}{{ titleCategorie }}{% endblock %}


{% block breadcrumb %}
<li>> {{ title }}</li>
{% endblock %}

{% block body %}
<script src="{{ asset('bundles/dfadmin/js/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/dfadmin/js/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>

<script type="text/javascript">
<!--
function textareaToCkeditor()
{
	$( 'textarea.ckeditor-illustration' ).ckeditor({toolbar:'Illustration', height:100, width:440});
}

$(textareaToCkeditor);
//-->
</script>

<form method="post" {{ form_enctype(form) }}>
	{{ form_widget(form) }}
	<input type="submit" class="bouton" />
</form>
{% endblock %}