{% extends 'DFAdminBundle::layout.html.twig' %}

{% block titleContent %}Brèves{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/dfbreve/js/breve.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
<a href="{{ path('DFBreveBundle_newBreve') }}" >Ajouter une brève</a>
<div class="bloc">
	<div class="title">Liste des brèves</div>
	<div class="content">
		<table>
			<thead>
				<tr>
					<th>Publié</th>
					<th>Slide Accueil</th>
					<th>Titre</th>
					<th>Date Création</th>
					<th>Date publication</th>
					<th>Auteurs</th>
					<th>Opérations</th>	
				</tr>
			</thead>
			<tbody>
				{% for breve in breves %}
				<tr>
					<td>
						<div class="checker isPublish">
							<span 
							{% if breve.isPublish == 1 %}
								class="checked"
							{% endif %}
							>
								<input type="checkbox" id="{{ breve.id }}">
							</span>
						</div>
					</td>
					<td>
						<div class="checker isPublishSlide">
							<span 
							{% if breve.isPublishSlide == 1 %}
								class="checked"
							{% endif %}
							>
								<input type="checkbox" id="{{ breve.id }}">
							</span>
						</div>
					</td>
					<td>{{ breve.title }}</td>
					<td>{{ breve.dateCreation|date('m/d/y \\à H:i') }}</td>
					<td>
					{% if breve.datePublication is not null %}
						{{ breve.datePublication|date('m/d/y \\à H:i') }}
					{% endif %}	
					</td>
					<td>{{ breve.author.username }}</td>
					<td>
						<a href="{{ path('DFBreveBundle_deleteBreve', {'id_breve': breve.id }) }}">Supprimer</a>
						<a href="{{ path('DFBreveBundle_updateBreve', {'id_breve': breve.id }) }}">Modifier</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %} 