{% extends 'DFAdminBundle::layout.html.twig' %}

{% block titleContent %}Liste des matchs{% endblock %}

{% block body %}

<!-- JS -->
{% javascripts '@DFManageMatchBundle/Resources/public/js/manageMatch.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<div class="bloc">
	<div class="title">Liste des matchs</div>
	<div class="content">
		<table>
			<thead>
				<tr>
					<th>Journée</th>
					<th>Equipe domicile</th>
					<th>Equipe extérieur</th>
					<th>Date</th>
					<th>Groupe</th>
					<th>Feuille de match</th>	
					<th>Opérations</th>
				</tr>
			</thead>
			<tbody>
				{% for match in matchs %}
				<tr>
					<td>{{ match.calendrier.libelle }}</td>
					<td>{{ match.equipeDom.nom }}</td>
					<td>{{ match.equipeExt.nom }}</td>
					<td>{{ match.date|date('d/m/Y \\-\\ H:i') }}</td>
					<td>_</td>
					<td>
						{% if match.feuilleMatch is not null %}
						<a href="{{ path('DFManageMatchBundle_displayFeuilleMatch', { feuille_id : match.feuilleMatch.id }) }}">Voir</a>
						{% else %}
						<span class="lien newFeuilleMatch">
							<input type="submit" data-url="{{ path('DFManageMatchBundle_newFeuilleMatch', { 'match_id' : match.id }) }}" value="Créer" />
						</span>
						{% endif %}
					</td>
					<td><a href="{{ path('DFMatchBundle_updateMatch', {
						'id_competition' : match.calendrier.competition.id, 
						'id_match' : match.id }) }}">Modifier</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}