{% extends 'DFAdminBundle::layout.html.twig' %}

{% block titleContent %}Joueurs{% endblock %}

{% block breadcrumb %}
<li>> Liste des joueurs</li>
{% endblock %}

{% block body %}
<div class="bloc">
	<div class="title">
		<div class="title_txt">Liste des joueurs</div>
	</div>
	<div class="content">
		<div class="table_toolbar">
			<div class="btn_group">
				<a href="{{ path('DFJoueurBundle_selectNewEffectif') }}" class="edit_1_new btn">Ajouter effectif</a>
			</div>
		</div>
		<table>
			<thead>
				<tr>
					<th>Nom</th>
					<th>Prénom</th>
					<th>Nationalité</th>
					<th>Date naissance</th>
					<th>Taille</th>
					<th>Poids</th>	
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{% for joueur in joueurs %}
				<tr>
					<td>{{ joueur.nom }}</td>
					<td>{{ joueur.prenom }}</td>
					<td>{{ joueur.nationalite }}</td>
					<td>{{ joueur.dateNaissance|date('d/m/Y') }}</td>
					<td>{{ joueur.taille }}</td>
					<td>{{ joueur.poids }}</td>
					<td></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}