<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}DfcoFoot - Admin{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <script src="http://code.jquery.com/jquery-1.7.2.min.js" type="text/javascript"></script>
        <script src="{{ asset('bundles/dfadmin/js/admin.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
		<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
        {% block javascripts %}
        {% endblock %}
		<link href="{{ asset('bundles/dfadmin/css/admin.css') }}" rel="stylesheet" media="screen" />
		<link href="{{ asset('bundles/dfadmin/css/newAdmin.css') }}" rel="stylesheet" media="screen" />
    </head>
    <body class="wood dark">
        <div id="head">
            <div class="left">
                <a href="#" class="button profile"><img src="" alt="" /></a>
                Bonjour, 
                <a href="#">
                	{{ app.user.username }}
                </a>
                |
                <a href="{{ path('fos_user_security_logout') }}">DECONNEXION</a>
            </div>
        </div>
        <div id="sidebar" class="black">
            <ul>
                <li>
                    <a href="#">
                        <img src="{{ asset('bundles/dfadmin/images/menu/inbox.png') }}" alt="" />
                        Dashboard
                    </a>
                </li>
                <li class="nosubmenu">
                	<a href="{{ path('DFBreveBundle_listeBreveAdmin') }}"><img src="" alt="" />Brève</a>
                </li>
                <li class="nosubmenu">
                	<a href="{{ path('DFStadeBundle_listeStadeAdmin') }}"><img src="" alt="" />Stade</a>
                </li>
                <li class="nosubmenu">
                	<a href="{{ path('DFEquipeBundle_listeClubAdmin') }}"><img src="" alt="" />Equipe</a>
                </li>
                <li class="nosubmenu">
                	<a href="{{ path('DFMatchBundle_listeCompetition') }}"><img src="" alt="" />Match</a>
                </li>
                <li>
                	<a href="{{ path('DFJoueurBundle_showJoueur') }}"><img src="" alt="" />Joueur</a>
                </li>
                <li>
                	<a href="{{ path('DFSondageBundle_listSondage') }}" src="" alt="">Sondage</a>
                </li>
                <li>
                	<a href="{{ path('DFEquipeBundle_listEntraineurAdmin') }}">Entraineur</a>
                </li>
            </ul>
        </div> 
        <div id="content" class="black">
			<h3 class="admin_title">{% block titleContent %}Dashboard{% endblock %}</h3>
				<ul id="page_breadcrumb">
					<li>Home</li>
					{% block breadcrumb %}
					{% endblock %}
					<li id="cal_right">
						<div id="date_dashboard_range">
							<span>{{ "now"|date("d/m/Y  H:i") }}</span>
						</div>
					</li>
				</ul> 
			{% block body %}
			{% endblock %}             
        </div>
    </body>
</html>